.desktop6-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop6-desktop6 {
  width: 100%;
  height: 1520px;
  display: flex;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, rgba(136, 159, 176, 1) 0%, rgba(252, 254, 255, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop6-text {
  top: 247px;
  left: 474px;
  color: rgba(0, 0, 0, 1);
  width: 417px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-link {
  display: contents;
}
.desktop6-tik-tok {
  top: 1417.578125px;
  left: 1306.181884765625px;
  width: 71px;
  height: 102px;
  position: absolute;
  border-radius: 50px;
}
.desktop6-link1 {
  display: contents;
}
.desktop6-facebook {
  top: 1417.578125px;
  left: 1239.9610595703125px;
  width: 66px;
  height: 102px;
  position: absolute;
}
.desktop6-component3 {
  top: 31px;
  left: 849.3541870117188px;
  width: 509px;
  height: 70.5078125px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.desktop6-text02 {
  top: 20.78125px;
  left: 352.2180480957031px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-component2 {
  top: 16.328125px;
  left: -50.86527633666992px;
  width: 142px;
  height: 65.3125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop6-text03 {
  top: 8.25px;
  left: 27.444801330566406px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-text04 {
  top: 23px;
  left: 211px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Medium;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-component21 {
  top: 41px;
  left: 1204.451416015625px;
  width: 142px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop6-text05 {
  left: 32px;
  color: rgb(247, 28, 28);
  bottom: 7px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Medium;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-line1 {
  flex: 5;
  left: -22px;
  width: 140px;
  bottom: 2px;
  height: 1px;
  position: absolute;
}
.desktop6-line3 {
  top: 0px;
  left: 142.0388946533203px;
  width: 140px;
  height: 1px;
  position: absolute;
}
.desktop6-line2 {
  top: 50.21052551269531px;
  left: 139.63145446777344px;
  width: 50px;
  height: 1px;
  position: absolute;
}
.desktop6-line4 {
  top: 53px;
  left: 0px;
  width: 53px;
  height: 1px;
  position: absolute;
}
.desktop6-text06 {
  top: 53px;
  left: 849.3541870117188px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-ellipse13 {
  top: 414px;
  left: 39.348609924316406px;
  width: 258px;
  height: 254px;
  position: absolute;
}
.desktop6-ellipse14 {
  top: 414px;
  left: 550.8805541992188px;
  width: 279px;
  height: 272px;
  position: absolute;
}
.desktop6-text08 {
  top: 730px;
  left: 568px;
  color: rgba(0, 0, 0, 1);
  width: 262px;
  height: auto;
  position: absolute;
  font-size: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-ellipse15 {
  top: 888px;
  left: 1048.0167236328125px;
  width: 258px;
  height: 258px;
  position: absolute;
}
.desktop6-text10 {
  top: 1189px;
  left: 1107px;
  color: rgba(0, 0, 0, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-ellipse16 {
  top: 888px;
  left: 47.98611068725586px;
  width: 258px;
  height: 258px;
  position: absolute;
}
.desktop6-ellipse17 {
  top: 414px;
  left: 1048.0167236328125px;
  width: 265px;
  height: 254px;
  position: absolute;
}
.desktop6-ellipse18 {
  top: 879px;
  left: 558.558349609375px;
  width: 265px;
  height: 276px;
  position: absolute;
}
.desktop6-text12 {
  top: 709px;
  left: 47.98611068725586px;
  color: rgba(0, 0, 0, 1);
  width: 294px;
  height: auto;
  position: absolute;
  font-size: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-text14 {
  top: 721px;
  left: 1119px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-text16 {
  top: 1189px;
  left: 72px;
  color: rgba(0, 0, 0, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-text18 {
  top: 1189px;
  left: 572px;
  color: rgba(0, 0, 0, 1);
  width: 227px;
  height: auto;
  position: absolute;
  font-size: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop6-de-watermark3 {
  top: 3px;
  left: 0px;
  width: 169px;
  height: 93px;
  position: absolute;
}
.desktop6-onboarding {
  top: 247px;
  left: 871.4277954101562px;
  width: 76px;
  height: 63px;
  position: absolute;
}
